<%- model_class = User -%>
<!-- añade el título a la url y el breadcrumb en el header -->
<% content_for :title, 'Wiki Rails Users' %>
<% navigation_add model_class.model_name.human.pluralize.titleize, '' %>

<!--<div class="page-header">
  <h1>Usuarios registrados</h1>
</div>-->
<table class="table-responsive">
  <thead>
  <tr>
    <th><% model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <th><% model_class.human_attribute_name(:created_at) %></th>
    <th><% model_class.human_attribute_name(:avatar) %></th>
    <th><% t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>

  <% @users.each do |user| %>
    <tr>
      <td><% user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><% user.created_at %></td>
      <td><% user.avatar %></td>
      <td><%= link_to t('.show', :default => t("helpers.links.show")),
                      user_path(user), :class => 'btn btn-default btn-xs' %></td>
      <td><%= link_to t('.go_post', :default => t("helpers.links.go_post")),
                  posts_path(@post), :class => 'btn btn-default btn-xs' %></td>
    <% end %>
    </tr>
  </tbody>
</table>
