<%- model_class = User -%>
<!-- añade el título a la url y el breadcrumb en el header -->
<% navigation_add model_class.model_name.human.pluralize.titleize, '' %>

<table id="tabla_listado" class="listado_users">
  <thead>
  <tr>
    <th class="col20"><%= model_class.human_attribute_name(:name) %></th>
    <th class="col20"><%= model_class.human_attribute_name(:email) %></th>
    <th class="col10"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")  ),
                        user_path(user), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>