<%= form_for @tag do |f| %>
    <div class='form-group-tag'>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      <br>
      <%= f.submit "Submit", class: 'btn btn-default btn-xs' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), tags_path, :class => 'btn btn-default btn-xs' %>
    </div>
<%end %>
