<%- model_class = Post -%>
<!-- añade el título a la url y el breadcrumb en el header -->
<% content_for :title, 'wiki-beta' %>
<% navigation_add model_class.model_name.human.pluralize.titleize, '' %>

<div class="page-header">
  #######################
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><% model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:title) %></th>
    <th><%= model_class.human_attribute_name(:tag) %></th>
    <th><%= model_class.human_attribute_name(:text) %></th>
    <th><% model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:document)%></th>
    <th><% model_class.human_attribute_name(:created_at) %></th>
    <th><% t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><% link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.tag_list %></td>
        <td><% if post.text.length > 100 %>
            <%= raw(post.text.slice(0,100)+ '...') %>
          <% end %>
        </td>
        <!-- <td><%#= post.user.name %></td>-->
        <td><% post.user.try(:name) %></td>
        <!-- este sería el equivalente en código al método try. Lo que hace es permitir que haya, en este caso,
            un post sin user y que no salte error en el código. Aún así, no se debe abusar porque sería muy
            complicado detectar el error en la aplicación -->
        <!--<%# if post.user.present?
             post.user.name
             end %> -->
        <td><% if post.document_file_name != nil %>
            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
            <span class="glyphicon glyphicon-download"></span></button></td>
          <% end %>
          <td><% l post.created_at %></td>
        <td>
          <% if post.parent_id == nil %>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                post_path(post), :class => 'btn btn-default btn-xs' %>
          <% else %>
             <%= link_to t('.show', :default => t("helpers.links.show")),
                 show_child_post_path(post), :class => 'btn btn-default btn-xs' %>
          <% end %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>

          <%= link_to post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => 'Are you sure?') } do %>
             <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-default btn new' %>

<!-- Añadimos código Javascript para nuestros select en index con select2 -->

<% content_for :js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            prettyPrint();
            $('select#simple-example').select2();
        });
    </script>
<% end %>