<%- model_class = Post -%>
<% titulo = model_class.model_name.human.pluralize.titleize %>
<% content_for :title, "Wiki-Beta > #{titulo} > #{@post.title}" %>
<% navigation_add titulo, posts_path %>
<% post_show_breadcrumb @post %>
<% navigation_add @post.title, post_path %>


<div class="page-body">
  <h1>Post Padre</h1>

  <label><%= t('activerecord.attributes.post_category.category') %>:</label>
  <label>
    <% @post.categories.to_a.each do |a| %>
        <%= a.name %>
    <% end %>
  </label>
  <br>
  <label><%= t('activerecord.attributes.post.title') %>:</label>
  <label><%= @post.title %></label>
  <br>
  <label><%= t('activerecord.attributes.post.text') %>:</label>
  <label><%= raw @post.text %></label>
  <br>
  <label><%= t('activerecord.attributes.user.name') %>:</label>
  <label><%= @post.user.name %></label>
  <br>
  <label><%= t('activerecord.attributes.post.document') %></label>
  <label><%= @post.document_file_name %></label>
    <%= link_to 'Descarga', document_download_post_path(@post), :class => 'btn btn-default' %>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
            posts_path, :class => 'btn btn-default'  %>
<%= link_to t('.create_subtheme', :default => t("helpers.links.create_subtheme")),
            new_child_post_path(@post),
            :class => 'btn btn-primary' %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            post_path(@post),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>

<!-- ponemos la condición para saber si se trata de padre o hijo y así mostrar una cosa u otra -->
<div>
  <% if @post.parent_id == nil %>
      <% @post.children.each do |subtheme| %>
      <div class="subtheme body">
          <h3>Post hijo</h3>
          <label><%= t('activerecord.attributes.post.title') %>:</label>
          <label><%= subtheme.title %></label>
          </br>
          <label><%= t('activerecord.attributes.post.text') %>:</label>
          <label><%= raw(subtheme.text) %></label>
          </br>
          <label><%= t('activerecord.attributes.user.name') %>:</label>
          <label><%= subtheme.user.name %></label>
      </div>
      <% end %>
  <% end %>
</div>

