<%- model_class = Post -%>
<% titulo = model_class.model_name.human.pluralize.titleize %>
<% content_for :title, "Wiki-Beta > #{titulo} > #{@post.title}" %>
<% navigation_add titulo, posts_path %>
<% post_show_breadcrumb @post %>
<% navigation_add @post.title, post_path %>

<div class="page-header">
    <h1><%= @post.title %></h1>
</div>
<!-- Comentamos lo referente a category
  <label><%#= t('activerecord.attributes.post_category.category') %>:</label>
  <label>
    <%# @post.categories.to_a.each do |a| %>
        <%#= a.name %>
    <%# end %>
  </label>
  -->
<div class="post body">
  <label><%= t('activerecord.attributes.post.tag') %>:</label>
  <p class="post body-tag"><%= @post.tag_list %></p>
  <br>
  <label><%= t('activerecord.attributes.post.text') %>:</label>
  <p><%= raw @post.text %></p>
  <br>
  <label><%= t('activerecord.attributes.user.name') %>:</label>
  <p class="post body-user"><%= @post.user.name %></p>
  <br>
  <% if @post.document_file_name != nil %>
      <label><%= t('activerecord.attributes.post.document') %></label>
      <label><%= @post.document_file_name %></label>
          <%= link_to document_download_post_path(@post) do %>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-download"></span></button>
      <% end %>
  <% end %>
  <br>
  <br>
<%= link_to t('.back', :default => t("helpers.links.back")),
            posts_path, :class => 'btn btn-default'  %>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to t('.create_subtheme', :default => t("helpers.links.create_subtheme")),
            new_child_post_path(@post),
            :class => 'btn btn-default' %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
            post_path(@post),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
<%= link_to post_path(@post), :method => :delete, :data => { :confirm => t('.confirm', :default => 'Are you sure?') } do %>
      <button type="button" class="btn btn-default btn-xs">
        <%= image_tag("glyphicons-17-bin.png") %>
      </button>
<% end %>
</div>
<!-- ponemos la condición para saber si se trata de padre o hijo y así mostrar una cosa u otra -->
<div>
  <% if @post.parent_id == nil %>
      <% @post.children.each do |subtheme| %>
      <div class="subtheme body">
          <h3>Post hijo</h3>
          <label><%= t('activerecord.attributes.post.title') %>:</label>
          <label><%= subtheme.title %></label>
          </br>
          <label><%= t('activerecord.attributes.post.text') %>:</label>
          <label><%= raw(subtheme.text) %></label>
          </br>
          <label><%= t('activerecord.attributes.user.name') %>:</label>
          <label><%= subtheme.user.name %></label>
      <% end %>
      </div>
  <% end %>
</div>
