<div id="menu_wiki">
  <h1>Bienvenido a wiki-rails</h1>
    <div id="menu_wiki_container">
      <%= link_to(posts_path) do %>
          <div id="menu_opcion1">Posts
            <%= image_tag("glyphicons-319-more-items.png") %>
          </div>
      <% end %>

      <%= link_to(users_path) do %>
          <div id="menu_opcion2">Usuarios
            <%= image_tag("glyphicons-44-group.png") %>
          </div>
      <% end %>

      <%= link_to(tags_path) do %>
          <div id="menu_opcion3">Tags
            <%= image_tag("glyphicons-67-tags.png") %></div>
      <% end %>
    </div>
</div>